{% extends 'base.html.twig' %}


{% block body %}

        <div id="container">
		<div id="status">	
  		<a href="{{ app.request.baseUrl }}/corpus/{{ title }}">Back to {{ title }}</a>
			<h3>Word countings for {{ title }} (tokens, types):</h3>

		{% if csv is not null %}
 		 <p><a href='#' onclick='downloadCSV({ filename: "pos-data.csv" });'>Download source data as CSV file.</a></p>
  		{% endif %}

    		<div id="columnchart" style="width: 800px; height: 400px;"></div>	
		
		<div id="columnchart2" style="width: 800px; height: 400px;"></div>	
		
		<div id="columnchart3" style="width: 800px; height: 400px;"></div>

		<div id="columnchart4" style="width: 800px; height: 400px;"></div>	
		
	</div>
</div>
{% endblock %}



{% block javascripts %}
<script src="/js/utils.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      
	var data = google.visualization.arrayToDataTable([ {{ key|raw }} ]);
      
      	var options = {
	
        title: 'Number of verbs per provider',
        width: 800,
        height: 400,
        bar: {groupWidth: '30%'},
        colors: ['#336699','#FF9900'],
      	};
      	var chart = new google.visualization.ColumnChart(document.getElementById('columnchart'));
      	chart.draw(data, options);


	var data2 = google.visualization.arrayToDataTable([ {{ key2|raw }} ]);
      
      	var options2 = {
	
        title: 'Number of nouns per provider',
        width: 800,
        height: 400,
        bar: {groupWidth: '30%'},
        colors: ['#336699','#FF9900'],
      	};
      	var chart2 = new google.visualization.ColumnChart(document.getElementById('columnchart2'));
      	chart2.draw(data2, options2);


	var data3 = google.visualization.arrayToDataTable([ {{ key3|raw }} ]);
      
      	var options3 = {
	
        title: 'Number of adjectives per provider',
        width: 800,
        height: 400,
        bar: {groupWidth: '30%'},
        colors: ['#336699','#FF9900'],
      	};
      	var chart3 = new google.visualization.ColumnChart(document.getElementById('columnchart3'));
      	chart3.draw(data3, options3);

	var data4 = google.visualization.arrayToDataTable([ {{ key4|raw }} ]);
      
      	var options4 = {
	
        title: 'Number of adverbs per provider',
        width: 800,
        height: 400,
        bar: {groupWidth: '30%'},
        colors: ['#336699','#FF9900'],
      	};
      	var chart3 = new google.visualization.ColumnChart(document.getElementById('columnchart4'));
      	chart3.draw(data4, options4);	
  }

	{% if csv is not null %}
   	var csvData = {{ csv|json_encode|raw }};
  	{% endif %}
  </script>

 
{% endblock %}


