{% extends 'base.html.twig' %}

{% block body %}
   
<div id="container">


	<div id="status">

	<h3>Metadata for corpus '{{ corpus }}'</h2>

                <ul>
			{% for key, value in metadata %}
    				<li><span style="font-weight:bold">{{ key }}:</span> {{ value }} </li>
			{% endfor %}
                </ul>



         <h3>Actions for corpus '{{ corpus }}'</h2>
	
         <ul>
	{% if filmic is not null %}
	<li><b>Filmic annotations:</b> you can get the <a href="../../show/data/{{ filmic }}.eaf"> .eaf file </a> with all 
	filmic annotations or the  
	<a href="../../show/data/{{ filmic }}.html"> html version</a> </li><hr/>
	{% endif %}

	
	{% if corpusfile is not null %}
	<li><b>Simple string search:</b> this allows simple string searches on the entire {{ corpus }} corpus 
	<a href="../../kwic/{{ corpus }}">access</a> </li><hr/>
	{% endif %}


	{% if words is not null %}
	<li><b>AD units, sentences and words' countings:</b> this provides some figures about AD units, sentences and words in the {{ corpus }} corpus 
    	<a href="../../words/corpus/{{ corpus }}/{{ words }}">access</a></li><hr/>
	{% endif %}

	{% if hits_timeline is not null %}
	<li><b>AD distribution in the timeline:</b> you can get a  
	<a href="../../hits/timeline/{{ corpus }}"> compact view </a> or an 
        <a href="../../hits/timelinejs/{{ corpus }}"> expanded view </a>of the ADs distribution in the timeline</li><hr/>
	{% endif %}

	<li><b>Verbs distribution in the timeline:</b> you can choose a verbal semantic class and see its 
	distribution in the timeline.
	 <a href="../../vocabulary/verbssem/{{ corpus }}"> access</a></li><hr/>

	{% if similarity is not null %}
	<li><b>AD similarity:</b> see text similarity among files in the corpus 
	<a href="../../similarity/{{ corpus }}">access</a> </li><hr/>
	{% endif %}
	
	<li><b>Word frequency by part of speech:</b> you can see word frequency by part of speech tag
	 <a href="../../vocabulary/posdash/{{ corpus }}"> access</a></li><hr/>


	{% if sem is not null %}
	<li><b>Word frequency by provider:</b> this gives the number of verbs, nouns, adjectives and adverbs per provider. 
	<a href="../../vocabulary/pos/{{ corpus }}"> access</a></li><hr/>

	
	<li><b>Verbs & semantics classes:</b> you can inspect verbal semantic classes
	 <a href="../../vocabulary/verbsdash/{{ corpus }}"> access</a></li><hr/>

	<li><b>Nouns & semantics classes:</b> you can inspect nominal semantic classes
	 <a href="../../vocabulary/nounsdash/{{ corpus }}"> access</a></li><hr/>

	<li><b>Adjectives & semantics classes:</b> you can inspect adjectival semantic classes
	 <a href="../../vocabulary/adjsdash/{{ corpus }}"> access</a></li><hr/>

	<li><b>Adverbs & semantics classes:</b> you can inspect adverbial semantic classes
	 <a href="../../vocabulary/advsdash/{{ corpus }}"> access</a></li><hr/>

	{% endif %}

	</ul>

	<h3>Files in corpus '{{ corpus }}'</h2>
                <ul>
			{% for key, value in files %}
    				<li><a href="../../metadata/{{ value }}">{{ key }} </li>
			{% endfor %}
                </ul>
	</div>

</div>
   
{% endblock %}


