{% extends 'base.html.twig' %}

{% block body %}
   
<div id="container">

	<div id="status">

        <h3>Metadata for the audio-description file'{{ title }}'</h3>
	
		<div id="right"><a href="../../corpus/{{ corpus }}">go back to '{{ corpus }}' corpus</a></div>

                <ul>
			{% for key, value in record %}
    				<li><span style="font-weight:bold">{{ key }}:</span> {{ value }} </li>
			{% endfor %}
                </ul>
	

	
        <h3>Files and visualizations</h3>

	<p>For each AD, the .eaf file plus a number of additional files and visualizations are provided.
	Please notice that in the html file the video corresponds to the short film without the AD. To access the 
	corresponding AD, please go to the <a href="http://pagines.uab.cat/viw/content/corpus"> project website</a>
	</p>
         	
	<ul>
	{% if html is not null %}
	<li>HTML version of the .eaf file <a href="../../show/{{ subdir }}/{{ html }}">{{ html }} </a> </li><hr/>
	{% endif %}

	{% if eaf is not null %}
	<li>.eaf (XML) file which can be imported in ELAN <a href="../../show/{{ subdir }}/{{ eaf }}"> go...</a> </li><hr/>
	{% endif %}

	{% if sentences is not null %}
	<li><b>Simple string search</b> <a href="../../kwic/corpus/{{ subdir }}"> go...</a></li><hr/>
	{% endif %}

	{% if words is not null %}
	<li><b>AD units, sentences and words' countings:</b> this provides some figures about AD units, 
	sentences and words in the file <a href="../../words/{{ subdir }}/{{ words }}"> go...</a></li><hr/>
	{% endif %}

	{% if hits is not null %}
	<li><b>Word frequency by part of speech</b> you can see words' frequency by part of speech tag <a href="../../vocabulary/posdash/{{ langdir }}/{{ eaf }}"> go...</a></li><hr/>
	<li><b>ADs' duration in the Timeline</b> (duration: time in seconds) <a href="../../hits/time/{{ subdir }}"> go...</a></li><hr/>
	<li><b>ADs' length in the Timeline</b> (length: number of words) <a href="../../hits/words/{{ subdir }}"> go...</a></li><hr/>
	<li><b>ADs' length and scene information in the Timeline</b> (length: number of words) <a href="../../hits/wordsvisual/{{ subdir }}">go...</a></li><hr/>
	<li><b>ADs' density in the Timeline</b> (density: characters/second) <a href="../../hits/timewords/{{ subdir }}"> go...</a></li><hr/>
	{% endif %}

	
	
	{% if verbs is not null %}
	<li>20 top most frequent verbs/semclass <a href="../../vocabulary/verbs/{{ langdir }}/{{ eaf }}"> go...</a></li><hr/>
	
	<li><b>Verbs & semantics classes:</b> you can inspect verbal semantic classes <a href="../../vocabulary/verbsdash/{{ langdir }}/{{ eaf }}">go...</a></li><hr/>
	<li><b>Nouns & semantics classes:</b> you can inspect noun semantic classes <a href="../../vocabulary/nounsdash/{{ langdir }}/{{ eaf }}">go...</a></li><hr/>	
	<li><b>Adjectives & semantics classes:</b> you can inspect adjectival semantic classes <a href="../../vocabulary/adjsdash/{{ langdir }}/{{ eaf }}">go...</a></li><hr/>		
	{% endif %}
	</div>

</div>
   
{% endblock %}


