{# app/Resources/views/default/indexCorpus.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    

        <div id="container">

		<div id="status">
		<h3>The VIW project</h3>

		<p><b>VIW (Visuals Into Words)</b> is a project funded by the Spanish “Ministerio de Economía y
		Competitividad” (FFI2015-62522- ERC) that aims to research audio description (AD) from a multilingual
		and multimodal corpus perspective.</p>

		<p>The VIW corpus is built upon the short movie “What Happens While”, available in English and dubbed
		into Catalan and Spanish. It contains audio descriptions in English, Catalan, and Spanish by both
		professionals and students, and follows an open access policy.</p>

		<p>This website provides access to the corpus and allows for different types of searches and visualizations on
		the AD scripts (excluding final credits for the reasons set forth in the <a href="{{ app.request.baseUrl }}/documentation/VIW-documentation.pdf"> technical documentation</a>).</p>
                <p>
                    For more information about the project, please visit the project website <a href="http://pagines.uab.cat/viw/" target="_blank">here</a>
                </p>
            </div>

            <div id="status">

		<h3>List of available corpora</h3>

		<p>You can also use the <a href="search">BROWSE facility</a> to look for a specific file.</p>
                <ul>
		{% for key, value in corpus %}
			<li><b>{{ key }}</b>: {{ value}} <a href="corpus/{{ key }}">access</a></li><hr/>
		{% endfor %}
		</ul>
            </div>

            

        </div>
 

{% endblock %}

{% block help %}
{{ help }}
{% endblock %}

