{% extends 'base.html.twig' %}


{% block body %}

        <div id="container">
		<div id="status">
		<a href="{{ app.request.baseUrl }}/metadata/{{ path }}/{{ title }}">Back to {{ title }}</a>
                	<h3>Density Graph ({{ type }}) for {{ title }} & scene information:</h3>
			{% if mean is defined %}
			</br>
			<center>
			<table style="background:#F5F5F5;">
				<tr>
				<td>Mean {{ type }}</td><td> {{ mean }}</td>
				<td>&nbsp;&nbsp;</td>
				<td>Min {{ type }}</td><td> {{ min }}</td>
				<td>&nbsp;&nbsp;</td>
				<td>Variance</td><td> {{ var }}</td>
				</tr>
				<tr>
				<td>Median {{ type }}</td><td> {{ median }}</td>
				<td>&nbsp;&nbsp;</td>
				<td>Max {{ type }}</td><td> {{ max }}</td>
				<td>&nbsp;&nbsp;</td>
				<td>Standard deviation</td><td> {{ std }}</td>
				</tr>
			</table>
			</center>
			{% endif %}
			<div id='png'></div>
    			<div id="columnchart_material" style="width: 900px; height: 500px;"></div>	
		</div>
	</div>

{% endblock %}


{% block javascripts %}
    

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
	  
      function drawChart() {
        

		var data = new google.visualization.DataTable();
data.addColumn('number', 'Agreement %'); 
data.addColumn('number', 'Uterrances (num of words)'); // Implicit series 1 data col Orange.
data.addColumn({type:'string', role:'tooltip', 'p': {'html': true}}); // tooltip for first series
data.addColumn('number', 'Filmic annotations (indicate new scene)');// Series 2 Green
data.addColumn({ 'type': 'string', 'role': 'tooltip', 'p': { 'html': true } });// tooltip for second series

        data.addRows([
          {{ key|raw }}
        ]);

        var options = {
          title: 'Utterances in timeline ({{ type }})',
          hAxis: {title: 'TimeLine in minutes.', viewWindow: {min: 0, max: {{ maxValue}} }, format: 'short'},
	  vAxis: {title: '{{ type }}', format: 'short'},
          chartArea:{width:'80%',height:'500px'},
          legend: {position: 'top'},
	  tooltip: { textStyle: { fontName: 'Verdana', fontSize: 11 } }
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('columnchart_material'));
        chart.draw(data, options);

	//***** Wait for the chart to finish drawing before calling the getImageURI() method.
	google.visualization.events.addListener(chart, 'ready', function () {
	columnchart_material.innerHTML = '<img src="' + chart.getImageURI() + '">';
	console.log(columnchart_material.innerHTML);
	});
	//*****
	document.getElementById('png').outerHTML = '<a href="' + chart.getImageURI() + '">Get a PNG version</a>';
      }
    </script>



{% endblock %}


