<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}VIW Visual into Words{% endblock %}</title>
        {% block stylesheets %}
            <style>
                body {
                    background: #F5F5F5;
                    font-family: "Helvetica neue", Helvetica, Arial, Verdana, sans-serif;
                    font-size: 12px;
                }

                h1, h2 {
                    line-height: 1.2;
                    margin: 0 0 .5em;
                }

                h1 {
                    font-size: 20px;
                }

                h2 {
                    font-size: 16px;
                    margin-bottom: 1em;
                    color: #C74451
                }

                h3 {
                    font-size: 14px;
                    margin-bottom: 1em;
                    color: #C74451
                }

                p {
                    margin: 0 0 1em 0;
                }

                a {
                    color: #0000F0;
                    white-space: nowrap;
                }

                a:hover {
                    text-decoration: none;
                }

                .kwic {
                    color: red;
                    font-weight: bold;
                }

                .Table {
                    font-family: Arial, Helvetica, sans-serif;
                    color: #666;
                    font-size: 12px;
                    text-shadow: 1px 1px 0px #fff;

                    margin: 20px;
                    border: #ccc 1px solid;

                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    border-radius: 3px;

                    -moz-box-shadow: 0 1px 2px #d1d1d1;
                    -webkit-box-shadow: 0 1px 2px #d1d1d1;
                    box-shadow: 0 1px 2px #d1d1d1;
                }

                .Title {
                    display: table-caption;
                    text-align: center;
                    font-weight: bold;
                    font-size: larger;
                    padding: 5px;
                }

                .Heading {
                    display: table-row;
                    font-weight: bold;
                    text-align: center;
                }

                .Row {
                    display: table-row;
                }

                .Cell {
                    display: table-cell;
                    margin: 20px;
                    border: #ccc 1px solid;

                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    border-radius: 3px;

                    -moz-box-shadow: 0 1px 2px #d1d1d1;
                    -webkit-box-shadow: 0 1px 2px #d1d1d1;
                    box-shadow: 0 1px 2px #d1d1d1;

                    padding: 5px;

                }

                .Table a:link {
                    color: #666;
                    font-weight: bold;
                    text-decoration: none;
                }


                .Row:hover {
                    background-color: #f2f2f2;
                }


                .goog-menu-vertical {
                    overflow-y: scroll;
                    max-height: 400px
                }


                code {
                    background: #F5F5F5;
                    max-width: 100px;
                    padding: 2px 6px;
                    word-wrap: break-word;
                }

                #header {
                    background: #FFF;
                    margin: 1em auto;
                    width: 95%;
                }

                #logo {
                    height: 120px;
                    margin: 0;
                    padding: 0;
                    background: url(images/logo-header.png);
                    background-size: cover;
                }

                #sub label {
                    display: inline-block;
                }

                #sub div {
                    display: inline-block;
                }

                #wrapper {
                    background: #FFF;
                    margin: 0 auto;
                    width: 95%;
                }

                #container {
                    padding: 1em;
                }

                welcome, status {
                    margin-bottom: 1em;
                }

                #status {
                    padding: 10px
                }

                welcome h1 span {
                    display: inline;
                    font-size: 75%;
                }

                #icon-status, #icon-book {
                    float: left;
                    height: 64px;
                    margin-right: 1em;
                    margin-top: -4px;
                    width: 64px;
                }

                #icon-book {
                    display: none;
                }

                @media (min-width: 768px) {
                    #wrapper {
                        width: 80%;
                        margin: 0 auto;
                    }

                    #icon-book {
                        display: inline-block;
                    }


                    @-webkit-keyframes fade-in {
                        0% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 1;
                        }
                    }
                    @keyframes fade-in {
                        0% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 1;
                        }
                    }
                    .sf-toolbar {
                        opacity: 0;
                        -webkit-animation: fade-in 1s .2s forwards;
                        animation: fade-in 1s .2s forwards;
                    }

                }

                #nav {
                    width: 100%;
                    float: left;
                    margin: 0 0 2em 0;
                    padding: 0;
                    list-style: none;
                    background-color: #f2f2f2;
                    border-bottom: 1px solid #ccc;
                    border-top: 1px solid #ccc;
                }

                #nav li {
                    float: left;
                }

                #nav li a {
                    display: block;
                    padding: 8px 15px;
                    text-decoration: none;
                    font-weight: bold;
                    color: #069;
                    border-right: 1px solid #ccc;
                }

                #nav li a:hover {
                    color: #c00;
                    background-color: #fff;
                }

                /* End navigation bar styling. */
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div id="logo"></div>

        <div id="wrapper">
            {% block nav %}
            <ul id="nav">
                <li><a href="{{ app.request.baseUrl }}/">Home</a></li>
                <li><a href="{{ app.request.baseUrl }}/documentation/VIW-documentation.pdf">More info</a></li>
                <li><a href="{{ app.request.baseUrl }}/density">Density graphs</a></li>
                <li><a href="{{ app.request.baseUrl }}/search">Search for files</a></li>
                <li><a href="{{ app.request.baseUrl }}/kwic">Search words in corpus</a></li>
                <li><a href="http://pagines.uab.cat/viw/content/contact">Contact</a></li>
            </ul>
            {% endblock %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
